[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=genxword-gtk
Name=genxword-gtk
Comment=Create crosswords in pdf, png and svg formats
Icon=genxword-gtk
Categories=GTK;Education;Graphics;
StartupNotify=True
